#home .more:hover {
  -moz-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

/* About */

#about {
  overflow: hidden;
}

#about header.major {
  margin-bottom: 0;
}

#about-info-container {
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

#about-info-container.slide-right {
  transform: translateX(1250px);
}

#about-info-container.slide-left {
  transform: translateX(-1250px);
}

#about-info-container.fade {
  opacity: 0;
}

.about-info {
  font-size: .975em;
  letter-spacing: .04em;
  text-align: center;
  margin: 0 auto;
  max-width: 45em;
  padding: 0 .75em;
}

#about h3::before {
  font-family: FontAwesome;
  display: block;
  font-size: 5em;
  line-height: 1em;
  font-weight: 800;
  margin-bottom: 30px;
}

.about-info p {
  margin-bottom: 20px;
}

@media screen and (max-width: 980px) {
  .about-info {
    text-align: left;
  }
  
  #about h3::before {
    display: inline-block;
    margin: 0 .25em 0 0 !important;
    vertical-align: middle;
  }
  
  .about-info button, .about-info a {
    padding: 0 !important;
  }
  
  #about-tom {
    background: rgba(0,0,0,0.05);
    margin-top: 1.5em;
    padding-bottom: 1.5em;
  }
}

#more-about-service, #more-about-rating {
  transition: transform 0.5s ease;
}

#more-about-service.slide {
  transform: translateX(-1250px);
}

#about-service-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 30em;
  margin: auto;
  padding: 0;
}

#about .about-service-button {
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 0 5px;
  box-shadow: none;
  color: #fff;
  outline: 0;
  line-height: 3.125em;
  max-width: 30em;
  font-size: .8em;
  font-weight: 700;
  letter-spacing: .2em;
  text-transform: uppercase;
  margin: 0 5px 8px 5px;
  flex: 1 1 200px;
  -ms-flex: 1;
  -moz-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

#about-service-buttons button.about-service-active {
  background: #ed4933;
  border: 2px solid #ed4933;
}

#about-service-buttons:hover button {
  background: none;
  border: 2px solid #fff;
}

#about-service-buttons button:hover {
  background: #ed4933;
  border: 2px solid #ed4933 !important;
}

#more-about-service > .row {
  justify-content: center;
  align-items: center;
}

#about-room-text, #about-mobile-text {
  text-align: center;
  padding: 0 15px !important;
}

#about-room-map, #about-mobile-map {
  padding: 0 15px !important;
}

@media screen and (max-width: 980px) {
  #about-room-map, #about-mobile-map {
    margin-top: 2em;
  }
}

#about-mobile-text, #about-mobile-map {
  display: none;
}

#more-about-service p {
  text-align: justify;
}
  
#more-about-service iframe {
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #1d9c91;
  background: #1d9c91;
  border-radius: 5px;
}

#more-about-rating.slide {
  transform: translateX(1250px);
}

#more-about-tom {
  transition: opacity 0.5s ease, height 0.5s ease;
}

#more-about-tom > .row {
  justify-content: center;
  align-items: center;
}

#about-tom-text {
  text-align: center;
  padding: 0 15px !important;
}

#about-tom-image {
  padding: 0 15px !important;
}

@media screen and (max-width: 980px) {
  #more-about-service h3 {
    margin-top: 1em;
  }
  
  #about-tom-image {
    margin-top: 2em;
  }
}

#more-about-tom p {
  text-align: justify;
}
  
#more-about-tom img {
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #1d9c91;
  border-radius: 10px;
}

#more-about-tom.fade {
  opacity: 0;
}

#about button, #about a {
  padding: 0 10px;
  font-family: "Open Sans", Helvetica, sans-serif;
  line-height: 1.9em;
  text-transform: uppercase;
  font-size: .95em;
  letter-spacing: .2em;
  border: none;
  border-bottom: dotted 1px rgba(0,0,0,.4);
  box-shadow: none;
  background: transparent;
  color: rgba(0,0,0,.4);
  -moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  -webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  -ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
  transition: border-bottom-color 0.2s ease, color 0.2s ease;
}

#about a {
  display: inline-block;
  font-weight: 600;
}

#about button:hover, #about a:hover {
  border-bottom: dotted 1px rgba(0,0,0,0);
}

#about-room-text button:hover, #about-mobile-text button:hover {
  border-bottom-color: rgba(0,0,0,.2);
  color: rgba(0,0,0,.2);
}

#about-service h3::before {
  content: "\f015";
}

#about-tom h3::before {
  content: "";
  height: 90px;
  width: 90px;
  background-image: url("../images/tom-face.png");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: contain;
  margin: 0 auto 30px;
  border-radius: 45px;
  border: 2px solid #1d9c91;
}

#about-rating h3::before, #more-about-rating h3::before {
  content: "\f005";
}

#information .image {
  height: 300px;
  overflow: hidden;
}

#information .image > img {
  position: relative;
  object-fit: contain;
  top: 50%;
  transform: translateY(-50%);
}

#pricing a {
  padding-bottom: 5px;
}

/* Book Now */

  #book-now {
    padding-left: 2em;
    padding-bottom: 0;
    padding-right: 2em;
  }

  #book-now header {
    margin-bottom: 0;
  }
  
  #book-now h2 {
    margin-bottom: 0;
    line-height: 1em;
  }

	#book-now p {
    display: inline;
    font-size: .75em;
    letter-spacing: .05em;
    border-bottom: dotted 1px;
    margin-bottom: 0;
  }
  
	#book-now p:hover {
    border-bottom: solid 1px rgba(0,0,0,0);
  }

#contact h1 {
  margin-bottom: 1em;
  display: inline-block;
}

#contact-form .row > * {
  padding-left: .5em;
  padding-right: .5em;
}

#contact-form label {
  margin-top: 0;
  text-align: left;
}

#contact-form label.error {
  margin-top: 5px !important;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #d4919c;
  padding: 5px 8px;
  color: #813332;
  background-color: #dba4a4;
}

#submitButton {
  margin-bottom: 1.5em;
  outline: 0;
}

noscript.error {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #d4919c;
  padding: 5px;
  color: #813332;
  background-color: #dba4a4;
  text-align: left;
}

@media screen and (max-width: 980px) {
  #contact header, #contact-form {
    text-align: center;
  }
}

@media screen and (max-width: 736px) {
  #find-us-buttons button {
    font-size: .78em;
    letter-spacing: .18em;
  }
}

@media screen and (max-width: 480px) {
  #information h1 {
    text-align: center;
  }
}